
<div *ngIf="isLoggedIn" class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <div class="ridein-header mdl-layout__header mdl-layout__header--waterfall">
        <div class="mdl-layout__header-row">
        <span class="android-title mdl-layout-title">
            <img class="ridein-logo-image" [src]="LOGO">
          </span>
            <!-- Add spacer, to align navigation to the right in desktop -->
            <div class="ridein-header-spacer mdl-layout-spacer"></div>
            <!-- Navigation -->
            <div class="ridein-navigation-container">
                <nav class="ridein-navigation mdl-navigation">
                    <a routerLink="/" class="mdl-navigation__link mdl-typography--text-uppercase" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
                        <i class="fa fa-home"></i> Welcome
                    </a>
                    <a routerLink="/route/find" class="mdl-navigation__link mdl-typography--text-uppercase" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
                        <i class="fa fa-map-marker" aria-hidden="true"></i> Find Ride
                    </a>
                    <a routerLink="/route/post" class="mdl-navigation__link mdl-typography--text-uppercase" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
                        <i class="fa fa-location-arrow" aria-hidden="true"></i> Offer Ride
                    </a>

                    <a routerLink="/profile" class="mdl-navigation__link mdl-typography--text-uppercase" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
                        <i class="fa fa-user" aria-hidden="true"></i> Profile
                    </a>

                    <a class="mdl-navigation__link mdl-typography--text-uppercase ridein-link" routerLinkActive="active" (click)="logout()">
                        <i class="fa fa-sign-out" aria-hidden="true" ></i>Logout
                    </a>
                </nav>
            </div>
        </div>
    </div>

</div>
<div class="app-content">
    <router-outlet></router-outlet>
</div>
