
.loginmodal-container {
  padding: 30px;
  max-width: 350px;
  width: 100% !important;
  background-color: #F7F7F7;
  margin: 0 auto;
  border-radius: 2px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  font-family: roboto;
}
.loginmodal-container h1 {
  text-align: center;
  font-size: 1.8em;
  font-family: roboto;
}
.loginmodal-submit {
  /* border: 1px solid #3079ed; */
  width: 100%;
  border: 0px;
  color: #fff;
  text-shadow: 0 1px rgba(0,0,0,0.1);
  background-color: #4d90fe;
  padding: 17px 0px;
  font-family: roboto;
  font-size: 21px;
  background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#4787ed));
}
.loginmodal-submit:hover {
  /* border: 1px solid #2f5bb7; */
  border: 0px;
  text-shadow: 0 1px rgba(0,0,0,0.3);
  background-color: #357ae8;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#357ae8)); */
}
.loginmodal-container a {
  text-decoration: none;
  color: #666;
  font-weight: 400;
  text-align: center;
  display: inline-block;
  opacity: 0.6;
  transition: opacity ease 0.5s;
}
.show-login-form,.show-register-form,a,a:focus,a:hover{-o-transition:all .3s;-moz-transition:all .3s;-webkit-transition:all .3s;-ms-transition:all .3s}.container{font-size:15px;font-weight:300;color:#888;line-height:28px;text-align:center}h1,h2,h3{color:#555}strong{font-weight:500}a,a:focus,a:hover{color:#42c5ea;text-decoration:none;transition:all .3s}h1,h2{margin-top:10px;font-size:34px;font-weight:100;line-height:48px}.btn-link-1,.show-forms,h3{font-size:20px}button.btn,h3{font-weight:300}h3{line-height:26px}img{max-width:100%}::-moz-selection{background:#42c5ea;color:#fff;text-shadow:none}::selection{background:#42c5ea;color:#fff;text-shadow:none}.btn-link-1{display:inline-block;width:40px;height:40px;margin:5px;padding:0;background:#555;background:rgba(0,0,0,.3);line-height:40px;color:#fff;-moz-border-radius:50%;-webkit-border-radius:50%;border-radius:50%}.btn-link-1:active,.btn-link-1:focus,.btn-link-1:hover{outline:0;opacity:.6;background:#555;background:rgba(0,0,0,.3);color:#fff}.top-content{padding:60px 0 80px}.l-form,.r-form,.show-forms{padding-top:40px}.top-content .text,.top-content .text h1{color:#fff}.top-content .description{margin:20px 0 10px}.l-form .form-group,.r-form .form-group{margin-bottom:25px}.top-content .description a{color:#fff;border-bottom:1px dotted #fff}.top-content .description a:focus,.top-content .description a:hover{border:0}.l-form .input-error,.r-form .input-error{border-color:#42c5ea}.show-forms{color:#fff;line-height:26px;text-align:left}.show-forms-divider,.show-login-form,.show-register-form{opacity:.6}.show-login-form,.show-register-form{cursor:pointer;transition:all .3s}.show-login-form.active,.show-login-form:hover,.show-register-form.active,.show-register-form:hover{opacity:1}button.btn:active,button.btn:hover{opacity:.6;color:#fff}.login-form{display:none}.r-form textarea{height:100px}.forms-right-icons .row{padding-bottom:15px}.forms-right-icons{padding-top:40px;color:#fff;text-align:left}.forms-right-icons h3{margin-top:0;color:#fff}.forms-right-icons .icon{text-align:right;font-size:30px;line-height:34px}.social-login{margin-top:35px;color:#fff}.social-login-buttons{margin-top:20px;background:rgba(0,0,0,.6);width:320px;border-radius:25px;height:200px}.social-login-buttons p{line-height:100px;font-size:25px}footer{padding-bottom:70px;color:#fff}footer .footer-border{width:200px;margin:0 auto;padding-bottom:30px;border-top:1px solid #fff;border-top:1px solid rgba(255,255,255,.6)}footer a{color:#fff;border-bottom:1px dotted #fff}footer a:focus,footer a:hover{color:#fff;border:0}#logo{background-color:rgba(255,255,255,.4);border-radius:20px;height:100px;width:300px;margin:0 auto 50px}#logo img{height:80px;margin-top:10px}@media (min-width:768px) and (max-width:991px){.forms-right-icons .icon{font-size:22px}}@media (max-width:767px){.forms-right-icons,.forms-right-icons .icon,.show-forms{text-align:center}.forms-right-icons .icon{padding-top:10px}.forms-right-icons h3{margin-top:15px}}@media (max-width:415px){h1,h2{font-size:28px}}button.btn{height:auto;margin:0;padding:0 40px;vertical-align:middle;background:#39b54a;border:0;font-family:Roboto,sans-serif;font-size:30px;line-height:60px;color:#fff;-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;text-shadow:none;-moz-box-shadow:none;-webkit-box-shadow:none;box-shadow:none;-o-transition:all .3s;-moz-transition:all .3s;-webkit-transition:all .3s;-ms-transition:all .3s;transition:all .3s}button.btn:active{outline:0;-moz-box-shadow:none;-webkit-box-shadow:none;box-shadow:none}button.btn.active:focus,button.btn:active:focus,button.btn:focus{outline:0;opacity:.6;background:#42c5ea;color:#fff}
